{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sweaty.Games </title>
    <link rel="stylesheet" href="{% static 'website/css/main.css' %}">
</head>

{% if user.is_authenticated %}
        <body class="content">
            <main>

                <h1>Create Profile</h1>

                <div class="form-group">
            <form method="POST" enctype="multipart/ form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Create Profile</button>
                </div>

            </main>
        </body>
{% else %}
    <body class="content">
        <main>

            <h2>
            Need an account? <a href="{% url 'register' %}">Click here</a> to register!
            </h2>


        </main>
    </body>
{% endif %}

{% endblock %}
